
<h1>Edit Product</h1>

<form [formGroup]="productForm">

  <label>
    Title: <input formControlName="title" />
  </label>
  <h2>Selling Points</h2>


    <button mat-flat-button color=primary type="button" (click)="addSellingPoint()">Add Selling Point</button>

  <div formArrayName="selling_points">

    <div *ngFor="let item of sellingPoints.controls; let pointIndex=index" [formGroupName]="pointIndex">
      <label>
        Selling Point: <input matInput formControlName="point" />
      </label>


      <button mat-flat-button color=accent type="button" (click)="deleteSellingPoint(pointIndex)">X</button>
    </div>
      <br>

  </div>

</form>

{{ this.productForm.value | json }}





<h1>Input based dynamic forms</h1>

<button mat-flat-button color="primary">make Object</button>

